@import "reset.css";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: rgb(66, 66, 66);
  color: rgb(255, 255, 255);
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  text-align: center;
}

h1 {
  color: rgb(255, 136, 0);
  font-size: 7rem;
  font-weight: 900;
  text-transform: uppercase;
  margin: 48px 0;
}

.subtitle {
  font-size: 3.5rem;
}

.replay {
  display: inline-block;
  background-color: rgb(17, 121, 17);
  padding: 16px 32px;
  border-radius: 16px;
  margin-top: 32px;
  font-size: 1.75rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.replay:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(66, 66, 66);
}

.hidden {
  display: none;
}

.symbols {
  padding: 64px 0;
  font-style: normal;
  display: flex;
  justify-content: center;
  gap: 128px;
}

.symbol {
  font-size: 20rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.symbol:hover {
  transform: scale(1.1);
}

.transform--off:hover {
  transform: none;
}

.score {
  font-size: 1.75rem;
  text-transform: uppercase;
  font-weight: 900;
  display: flex;
  justify-content: center;
  gap: 64px;
}

.score__point {
  margin-top: 16px;
  font-size: 3.5rem;
}
